body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Roboto";
    list-style: none;
    box-sizing: border-box;
    background: #000;
}
nav{
    position: fixed;
    z-index: 100;
    height: 8vh;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.logo{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.nav-links ul{
    display: flex;
    flex-direction: row;
}
.nav-links ul li{
  padding: 0 4px; 
  list-style: none; 
}
 .nav-links ul li img{
    transform: scale(0.45);
}
section{
    height: 100vh;
    overflow: hidden;
}
.bg img{
    width: 110vw;
    height: 100vh;
    filter: brightness(0.6);
}
.rock1{
    position: absolute !important;
    left: 10vw !important;
    top: 20vh !important;
}
.rock1 img{
    width: 40%;
    filter: brightness(0.5);
}
.text h1{
    font-family: "AlphaCentauri"!important;
    font-size: 5vw;
    color: #fff;
    letter-spacing: 20px;
    position: absolute;
    top: 35vh;
    left: 34vw;
}
